@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.alert {
  padding: 1rem;
  border-radius: 8px;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.bg-blue-200 {
  background-color: #bfdbfe;
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

